
  

  .transaction_list_layout{
    width: 50% !important;
    position: absolute;
    left: 30%;
    table {
        width: 100%;
      }
  }
  
  .mat-mdc-raised-button{
    color:white !important;
    background:#005cbb !important;
  }

  h2{
    text-align: center;
  }